<div class="jumbotron jumbotron-fluid colorAzul">
    <div class="container ">
        <h1 class="text-center fonteJB">
            Entre em contato conosco
        </h1>
      
    </div>
  </div>


<div class=" container justify-content ">
    <div class=" mb-5 bd-highlight ">

        

      

        <div class="d-flex flex-row bd-highlight mb-3">

            <div class="col-md-5 d-flex justify-content">

                <div>


                    <label for="nome"  >Nome completo: </label> <br>
                    <input type="text" id='nome' class="w-100 p-1 bg-white rounded" [(ngModel)]='nome' (keyup)='validaNome()'>
                    <div id="txtNome"></div>
                    <br>

                    <label for="email">Email: </label> <br>
                    <input type="text" id='email' class="w-100 p-1 bg-white rounded" [(ngModel)]='email' (keyup)='validaEmail()'>
                    <div id="txtEmail"></div>
                    <br>

                    <label for="assunto">Assunto: </label> <br>
                    <textarea class="w-100 shadow-sm p-3 mb-5 bg-white rounded" name="assunto" id="assunto" cols="60" rows="5" [(ngModel)]='assunto'
                        (keyup)='validaAssunto()'></textarea>
                    <div id="txtAssunto"></div>
                    <br>
                    <br>

                    <button type="button" class="mb-5 btn btn-success" (click)='enviar()'>Enviar</button>

                    <div >
                       <h5 class="fonteContato">
                        Telefone: 11 92345567
                       </h5>
                       

                       <h5 class="fonteContato">
                        email: etot.c4@hotmail.com
                       </h5>


                    </div>
        
                </div>
            </div>

            <div class="col-md-4 ">
                <h3 class="p-5"> Quem num gosta di mé, boa gentis num é. Casamentiss faiz malandris se pirulitá.</h3>
            </div>

            <div class="col-md-3 w3-animate-top">
                <div class="d-flex justify-content-end ">
                    <img height="400px" src="assets/img/tot.png" alt="Deus Tot">
                </div>
            </div>
        </div>

    </div>
</div>

