<!--Carrossel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="d-block w-100 " src="assets/img/livrostoth.jpg" height="800" width="1350"alt="Primeiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="jumbo">e-Tot</h5>
        <p class="jumbo">A Educação transforma as pessoas, mas infelizmente ela não é acessível à todos, e com esse
          ideal, nasce a E-Tot.
          Tendo o deus egípcio da Sabedoria como símbolo, nossa missão principal é oferecer conteúdo de qualidade e de
          fácil acesso.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/livrototh2.jpg " height="800" width="1350" alt="Segundo Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="jumbo">Nosso objetivo</h5>
        <p class="jumbo">Dar facil acesso ao ensino para pessoas carentes e deixar disponivel para novos mestres </p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/livro3.png" height="800" width="1350"alt="Terceiro Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="jumbo">Nossa visão</h5>
        <p class="jumbo">Acabar com a desigualdade</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<!--Carrosel-->
<!--jumbotron-->
<div >
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 jumbo d-flex justify-content-center">Saiba mais sobre nós</h1>
        <p class="lead fonteRoxa d-flex justify-content-center">Abaixo temos mais informações sobre 

nós.</p>
      </div>
    </div>
</div>


<div class="body,html">
  <div class="container ">
    
  
  <!--Cards dos funcionarios-->
  <div class="card-deck">
      <div class="card">
        <img class="card-img-top rounded-circle " src="assets/img/dio.jpg" alt="Imagem de 
  
  capa do card">
        <div class="card-body">
          <h5 class="card-title fonteRoxa">Jhonatan Bianchini</h5>
          <p class="card-text cor">Este é um card mais longo com suporte 
  
  a texto embaixo, que funciona como uma introdução a um conteúdo 
  
  adicional. Este conteúdo é um pouco maior.</p>
          <p class="card-text"><small class="text-muted cor">Atualizados 
  
  3 minutos atrás</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top rounded-circle " src="assets/img/wade.jpg" alt="Imagem de 
  
  capa do card">
        <div class="card-body">
          <h5 class="card-title fonteRoxa">Kauan Manoel</h5>
          <p class="card-text cor">Este é um card com suporte a texto 
  
  embaixo, que funciona como uma introdução a um conteúdo 
  
  adicional.</p>
          <p class="card-text"><small class="text-muted cor">Atualizados 
  
  3 minutos atrás</small></p>
  </div>
  </div>
  <div class="card">
    <img class="card-img-top rounded-circle " src="assets/img/tonyalex.jpg" alt="Imagem de 
  
  capa do card">
    <div class="card-body">
      <h5 class="card-title fonteRoxa">Alex Meschnark</h5>
      <p class="card-text cor">Este é um card maior com suporte a 
  
  texto embaixo, que funciona como uma introdução a um conteúdo 
  
  adicional. Este card tem o conteúdo ainda maior que o primeiro, 
  
  para mostrar a altura igual, em ação.</p>
      <p class="card-text"><small class="text-muted cor">Atualizados 
  
  3 minutos atrás</small></p>
    </div>
  </div>
  <div class="card">
      <img class="card-img-top rounded-circle " src="assets/img/dogrusso.png" alt="Imagem 
  
  de capa do card">
      <div class="card-body">
        <h5 class="card-title fonteRoxa">Ricardo Mendes</h5>
        <p class="card-text cor">Este é um card maior com suporte a 
  
  texto embaixo, que funciona como uma introdução a um conteúdo 
  
  adicional. Este card tem o conteúdo ainda maior que o primeiro, 
  
  para mostrar a altura igual, em ação.</p>
        <p class="card-text"><small class="text-
  
  muted cor ">Atualizados 3 minutos atrás</small></p>
      </div>
    </div>
  </div>
  <!--Cards dos funcionarios-->
   </div>
</div>
