<!--Texto e imagem-->
<h1 class="d-flex justify-content-center">Sobre nós</h1>

<h2 class="d-flex justify-content-center">E-Tot</h2>

<div class="d-flex row">

     <img src="assets/img/supertoth.jpg" class="lado" height="270" width="400" alt="img1">
    <p class="blocktext ">A Educação transforma as pessoas, mas infelizmente ela não é acessível à todos, e com esse
        ideal, nasce a E-Tot.
        Tendo o deus egípcio da Sabedoria como símbolo, nossa missão principal é oferecer conteúdo de qualidade e de
        fácil acesso. "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum." </p>
        <img src="assets/img/supertoth.jpg" height="270" width="400" alt="img1">
        </div>
<!--Texto e imagem-->
<!--jumbotron-->
<div >
    <div class="jumbotron jumbotron-fluid cor">
        <div class="container">
          <h1 class="display-4">Saiba mais sobre nós</h1>
          <p class="lead">Abaixo temos mais informações sobre 

nós.</p>
        </div>
      </div>
</div>
<!--jumbotron-->
<!--Cards dos funcionarios-->
<div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Imagem de 

capa do card">
      <div class="card-body">
        <h5 class="card-title">Jhonatan Bianchini</h5>
        <p class="card-text">Este é um card mais longo com suporte 

a texto embaixo, que funciona como uma introdução a um conteúdo 

adicional. Este conteúdo é um pouco maior.</p>
        <p class="card-text"><small class="text-muted">Atualizados 

3 minutos atrás</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src=".../100px200/" alt="Imagem de 

capa do card">
      <div class="card-body">
        <h5 class="card-title">Kauan Manoel</h5>
        <p class="card-text">Este é um card com suporte a texto 

embaixo, que funciona como uma introdução a um conteúdo 

adicional.</p>
        <p class="card-text"><small class="text-muted">Atualizados 

3 minutos atrás</small></p>
</div>
</div>
<div class="card">
  <img class="card-img-top" src=".../100px200/" alt="Imagem de 

capa do card">
  <div class="card-body">
    <h5 class="card-title">Alex Meschnark</h5>
    <p class="card-text">Este é um card maior com suporte a 

texto embaixo, que funciona como uma introdução a um conteúdo 

adicional. Este card tem o conteúdo ainda maior que o primeiro, 

para mostrar a altura igual, em ação.</p>
    <p class="card-text"><small class="text-muted">Atualizados 

3 minutos atrás</small></p>
  </div>
</div>
<div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Imagem 

de capa do card">
    <div class="card-body">
      <h5 class="card-title">Ricardo Mendes</h5>
      <p class="card-text">Este é um card maior com suporte a 

texto embaixo, que funciona como uma introdução a um conteúdo 

adicional. Este card tem o conteúdo ainda maior que o primeiro, 

para mostrar a altura igual, em ação.</p>
      <p class="card-text"><small class="text-

muted">Atualizados 3 minutos atrás</small></p>
    </div>
  </div>
</div>
<!--Cards dos funcionarios-->
